@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-dark: #262724;
  --primary-light: #3C3E35;

  --utility: #BFBFBF;

  --secondary-mid: #667561;
  --secondary-light: #D4CBBE;


  color: rgba(255, 255, 255, 0.87);
  background-color: var(--secondary-mid);
  height: 100%;
  width: 100%;

}

#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

input:hover{
  outline: none ;

}
input:focus{
  outline: none;
}